@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container px-4 py-4" id="home">
    <div class="bg-body-tertiary p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Welcome to Aramais Yeghoyans Friends App</h1>
            <p class="fs-5">
                You 
            </p>
            <p>
                Here, you can explore and easily update your friends' information, such as addresses, names,
                countries, and more. Stay organized and keep everything up to date with just a few taps. 
                Enjoy the simplicity and convenience of managing your contacts!
            </p>

            <p>Enjoy!</p>
        </div>
    </div>
</div>